<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EmailMarketingSystem -->
      <package
            uri="http:///emailmarketingsystem.ecore"
            class="emailmarketingsystem.EmailmarketingsystemPackage"
            genModel="EmailMarketingSystem.genmodel"/>
   </extension>

</plugin>
